In [ ]:
CREATE TABLE IF NOT EXISTS suppliers(
supplierID       INT,
companyName     TEXT,
contactName     TEXT,
contactTitle    TEXT,
address         TEXT,
city            TEXT,
region          TEXT,
postalCode      TEXT,
country         TEXT,
phone           TEXT,
fax             TEXT,
homePage        TEXT
);

In [28]:
import pandas as pd

In [33]:
df = pd.read_csv('/Users/tom_g/Code/Data/northwind/suppliers.csv')

In [34]:
df.dtypes

supplierID       int64
companyName     object
contactName     object
contactTitle    object
address         object
city            object
region          object
postalCode      object
country         object
phone           object
fax             object
homePage        object
dtype: object

In [27]:
df.to_csv('/Users/tom_g/docker/volumes/postgres/northwind/employees.csv')

In [4]:
endpoint =  
username = 
password =
port = 
database =

In [ ]:
df.to_sql('shippers', con='')

In [ ]:
#connect remotely

In [ ]:
docker exec -it pgres_docker psql -h n-wind.c2shuvij1w0p.eu-west-1.rds.amazonaws.com -U postgres -p 5432

In [ ]:
#dumps locally

In [ ]:
docker exec -it pgres_docker pg_dump northwind > northwind.sql -U postgres

In [ ]:
#moves data remotely

In [ ]:
docker exec -it pgres_docker psql -f /var/lib/postgresql/data/northwind/northwind.sql -h n-wind.c2shuvij1w0p.eu-west-1.rds.amazonaws.com -U postgres -p 5432 -d northwind